html,body,head {padding:0;margin:0;border:0}
* {box-sizing: border-box}
body {
    --bg-color: #1E202B;
    --color: white;
    --primary-text-color: var(--color);
    font-family: Roboto;
    background: var(--bg-color);
    color: var(--color);
}
h1,h2 {font-family: Raleway}
main {
    padding: 1em;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4.5rem - 1rem);
}
#app-title {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.23);
    margin-bottom: 1rem;
    height: 4.5rem;
    position: relative;
}
#app-title[last-updated]:after {
    content: "Last Update: " attr(last-updated);
    position: absolute;
    right: 1em;
    font-size: .8rem;
    font-weight: 100;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
}
.zone-holder {text-align: center}
.zone-holder button {
    display: inline-block;
    background: #2e7d32;
    padding: .75em 1em;
    color: white;
    font-family: Roboto;
    margin: .5em;
    border: 0;
    cursor: pointer;
    transition: background .25s;
    outline: none;
}
.zone-holder button:hover {background: #4caf50}
.zone-holder .zone {width: 10em}
.zone-holder > .data {display: inline}
.zone-holder .add {border-radius: 50%}
.map-holder {flex: 1}
#map {
    width: 100%;
    height: 100%;
    background-color: grey;
}
.disclaimer {font-style: italic;font-size: .8em}
.disclaimer:before {content: "* "}
body.modal #main-modal {display: block}
#main-modal {display: none;position: absolute;top: 50%;transform: translate(-50%,-50%)}
paper-input{
    --text-primar-color: white;
    --paper-input-color: white;
    --primary-text-color: white;
    --paper-input-container-color: white;
}