<!DOCTYPE html>
<html>
    <head>    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/app.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Raleway" rel="stylesheet">
        <title>SafeZone</title>
    </head>
    <body>
        <h1 id="app-title">Zones Overview</h1>
        <main>
            <div>Pick a zone, to view more detailed information.</div>
            <ul class="zone-holder">
                <div class='data'>
                    <!--Content is AutoInserted-->
                </div>
                <a href="/addData" target='_blank'>
                    <button class='add'>+</button>
                </a>
            </ul>
            <div class='disclaimer'>To edit a zone, select the '+' icon and input the same name and overwrite any attributes</div>
            <h2>Disaster Tracker</h2>
            <div>View the distance between the epicenter of the calamity and nearby safe zones</div>
            <div class="map-holder">
                <div id="map"></div>
            </div>
        </main>
        <div id='main-modal'>
            <button class='close' onclick="toggleModal()"></button>
            <h2 class="title"></h2>
            <caption>Detailed Overview:</caption>
            <div class='attributes-holder'>
                <div class='attribute' type='Food'>
                    <span class='progress-bar'><span class='val'></span></span>
                </div>
                <div class='attribute' type='Water'>
                    <span class='progress-bar'><span class='val'></span></span>
                </div>
                <div class='attribute' type='Medicine'>
                    <span class='progress-bar'><span class='val'></span></span>
                </div>
                <!-- TODO: Finish all other attributes -->
            </div>
        </div>
        <script src="/static/app.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoZqSH0q5kB_sgoHlDCBydCk_EbJDnNaM&callback=initMap"></script>
        <script>
            const $ = q => document.querySelector(q)
            const AP = {} //Global shared storage
            const EL = {
                ZoneHolder: $('.zone-holder > .data'),
                AppTitle: $('#app-title'),
                modal: {
                    name: $('#main-modal > .title'),
                    food: $(`#main-modal > .attributes-holder > .attribute[type='Food'] > .progress-bar > .val`),
                    // TODO: Link other dom elements here
                },
            }
            const getZoneHealth = zone => {
                // TODO: IMPLEMENT THIS
                return 'Good'
            }
            const makeZoneHTML = (z,i) => {
                const zoneStatus = getZoneHealth(z) // Good, Fair, Bad
                const text = `
                    <button class='zone ${zoneStatus.toLowerCase()}' onclick='openModal(${i})'>${z.name}</button>
                `.trim(/\s/)
                return text
            }

            const toggleModal = _ => document.body.classList.toggle('modal')
            const openModal = i => {
                toggleModal()
                const zone = AP.zones[i]
                // Now using zone to populate modal!
                const {name, status, lat, long, food, water, capacity, occupancy, electricity} = zone
                //TODO: You have all the variables for the different things in Zone, use them!
                EL.modal.name.innerHTML = name
                EL.modal.food.style.width = `${food}%` // Has to be between 0 and 100
            }
            const fetchPageData = _ => {
                fetch('/api/listZones')
                    .then(resp => resp.json())
                    .then(zones => {
                        AP.zones = zones = zones || []
                        const zonesHTML = zones.map(makeZoneHTML).join("")
                        EL.ZoneHolder.innerHTML = zonesHTML
                    })
                    .then(_ => {
                        EL.AppTitle.setAttribute('last-updated', new Date().toLocaleString().split(', ')[1])
                    })
            }
            setInterval(fetchPageData, 10e3)
            fetchPageData()
        </script>
    </body>
</html>
