<!DOCTYPE html>
<html>
    <head>    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/app.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Raleway" rel="stylesheet">
        <title>SafeZone</title>
    </head>
    <body>
        <h1 id="app-title">Zones Overview</h1>
        <main>
            <div>Pick a zone, to view more detailed information.</div>
            <ul class="zone-holder">
                <div class='data'>
                    <!--Content is AutoInserted-->
                </div>
                <a href="/addData" target='_blank'>
                    <button class='add'>+</button>
                </a>
            </ul>
            <div class='disclaimer'>To edit a zone, select the '+' icon and input the same name and overwrite any attributes</div>
            <h2>Disaster Tracker</h2>
            <div>View the distance between the epicenter of the calamity and nearby safe zones</div>
            <div class="map-holder">
                <div id="map"></div>
            </div>       
        </main>
        <script src="/static/app.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoZqSH0q5kB_sgoHlDCBydCk_EbJDnNaM&callback=initMap"></script>
        <script>
            const $ = q => document.querySelector(q)
            const ZoneHolder = $('.zone-holder > .data')
            const makePersonHTML = p => {
                return `
                    <button class='zone'>${p.name}</button>
                `.trim(/\s/)
            }
            const fetchPageData = _ => {
                fetch('/api/listPeople')
                    .then(resp => resp.json())
                    .then(people => {
                        people = people || []
                        const peopleHTML = people.map(makePersonHTML).join("")
                        console.log(peopleHTML)
                        ZoneHolder.innerHTML = peopleHTML
                    })
            }
            setInterval(fetchPageData, 10e3)
        </script>
    </body>
</html>
