<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
      <form action="/edited" method="POST">
          <p>Enter the new fields:</p>
          <input name='name' placeholder='Zone a, zone b ... zone n'>
          <input name='condition' placeholder='Enter the condition'>
          <input name='occupancy' placeholder='Enter occupancy'>
          <input name='location' placeholder='Enter location'>
          <input name='capacity' placeholder='Enter capacity'>
          <button type='submit'>Edit</button>
      </form>
