<head>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
          <link href="https://fonts.googleapis.com/css?family=Roboto|Raleway" rel="stylesheet">
          <title>SafeZone Constructor</title>
      </head>
      <body>
          <h1 id="app-title">New Zone</h1>
          <main>
              <div>Fill in attributes: </div>
              <ul class="zone-holder">
                  <li class="zone">Condition</li>
                  <li class="zone">Occupancy</li>
                  <li class="zone">Resources</li>
                  <li class="zone">Zone D</li>
              </ul>
              <div>
                  <form id="form1" action="/submitData" method="POST">
                  <p>Yo</p>
                  <input type="text" name='name' placeholder='Zone a, zone b ... zone n'>
                  <input type="text" name='occupancy' placeholder='Enter your occupancy'>
                  <input type="text" name='capacity' placeholder='Enter your capacity'>
                  <input type="text" name='condition' placeholder='Enter your condition'>
                  <input type="text" name='location' placeholder='Enter your location'>
                  <div>
                      <button type="submit">Submit</button>
                  </div>
                  </form>
                  <form action="/editZone" method="POST">
                      <button type='edit'>Edit!!</button>
                  </form>
                </div>
          </main>
          <script src="app.js"></script>
      </body>
